<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xct.examinationsys.dao.CourseDao">
    <resultMap id="courseMap" type="course">
        <id column="course_id" property="courseId"></id>
        <result column="course_name" property="courseName"></result>
        <result column="course_state_id" property="courseStateId"></result>
    </resultMap>
    <select id="findAllCourses" parameterType="course" resultMap="courseMap">
        select * from t_course
    </select>

    <select id="selectCourseByName" parameterType="string" resultMap="courseMap">
        select * from t_course where course_name=#{_parameter}
    </select>

    <select id="findAllCourseName" resultMap="courseMap">
        select * from t_course
    </select>
</mapper>