<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xct.examinationsys.dao.QuestionTypeDao">
    <resultMap id="questionTypeMap" type="questionType">
        <id column="type_id" property="typeId"></id>
        <result column="type_name" property="typeName"></result>
        <result column="score" property="score"></result>
        <result column="remark" property="remark"></result>

    </resultMap>
    <select id="findAllQuestionTypes" parameterType="questionType" resultMap="questionTypeMap">
        select * from t_question_type
    </select>

    <select id="findAllQuestionType" resultMap="questionTypeMap">
        select * from t_question_type
    </select>

    <select id="selectQuestionTypeByName" parameterType="string" resultMap="questionTypeMap">
        select * from t_question_type where type_name=#{_parameter}
    </select>
</mapper>