<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xct.examinationsys.dao.UserDao">

    <resultMap id="userMap" type="user">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_pwd" property="userPwd"></result>
        <result column="grade_id" property="gradeId"></result>
        <result column="user_state_id" property="userStateId"></result>
        <result column="email" property="email"></result>
        <result column="telephone" property="telephone"></result>
        <result column="remark" property="remark"></result>
    </resultMap>

    <select id="loginByUserName" parameterType="string" resultMap="userMap">
        select * from t_user where user_name = #{userName};
    </select>

    <insert id="registerUser" parameterType="user">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="gradeId != null">
                grade_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="userStateId != null">
                user_state_id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="remark != null">
                remark
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="userPwd != null">
                #{userPwd},
            </if>
            <if test="gradeId != null">
                #{gradeId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="userStateId != null">
                #{userStateId},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="telephone != null">
                #{telephone},
            </if>
            <if test="remark != null">
                #{remark}
            </if>
        </trim>
    </insert>

    <select id="totalQuantity" resultType="int">
        select count(*)
            from t_user;
    </select>

</mapper>